.banner{
    margin-top: 50px;
}

.casual-shoes{
    margin-top: 200px;
}

.itme-image-width{
    width: 50px;
}

.itme-image-gap{
    margin-top: 20px;
}

.item-image-margin-mobile{
    margin-left: 50px;
}